### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [34]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [11]:

total_count = len(purchase_data['SN'])
total_count

unique_players = len(purchase_data['SN'].unique())
unique_players

unique_players_df = pd.DataFrame({"Unique Players":[unique_players]})
unique_players_df

   Unique Players
0             576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [21]:
unique_items = len(purchase_data['Item Name'].unique())
unique_items
average_price = round(purchase_data['Price'].mean(),2)
average_price
total_count
total_revenue = purchase_data['Price'].sum()
total_revenue
purchase_analysis = pd.DataFrame([ {"Total Purchases":total_count,'Unique Items':unique_items,
                                    'Average Price':average_price, "Total Revenue":total_revenue  }])
purchase_analysis

   Total Purchases  Unique Items  Average Price  Total Revenue
0              780           179           3.05        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
#remove the duplicates in SN so there arent the duplicates in gender
clean_data = purchase_data.drop_duplicates(subset='SN', keep='first')
male_players = len(clean_data.loc[clean_data['Gender'] == 'Male',:])
male_players
female_players = len(clean_data.loc[clean_data['Gender'] == 'Female',:])
other_players = len(clean_data.loc[clean_data['Gender'] == 'Other / Non-Disclosed',:])
other_players
percent_males = round(male_players / unique_players * 100,2)
percent_females = round(female_players / unique_players * 100,2)
percent_other = round(other_players / unique_players * 100,2)

gender_df = pd.DataFrame({
                            "Gender": ["Male", "Female", "Other"],
                            "Total": [male_players, female_players, other_players],
                            "Percent":[percent_males, percent_females, percent_other]
})

gender_df.set_index('Gender')

        Total  Percent
Gender
Male      484    84.03
Female     81    14.06
Other      11     1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame