### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head(10)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58

## Player Count

* Display the total number of players

In [2]:

total_count = len(purchase_data['SN'])
total_count

unique_players = len(purchase_data['SN'].unique())
unique_players

unique_players_df = pd.DataFrame({"Total Players":[unique_players]})
unique_players_df.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_items = len(purchase_data['Item Name'].unique())

average_price = round(purchase_data['Price'].mean(),2)


total_revenue = purchase_data['Price'].sum()

purchase_analysis = pd.DataFrame([ {"Total Purchases":total_count,'Unique Items':unique_items,
                                    'Average Price':average_price, "Total Revenue":total_revenue  }])
purchase_analysis

   Total Purchases  Unique Items  Average Price  Total Revenue
0              780           179           3.05        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#remove the duplicates in SN so there arent the duplicates in gender
clean_data = purchase_data.drop_duplicates(subset='SN', keep='first')
male_players = len(clean_data.loc[clean_data['Gender'] == 'Male',:])

female_players = len(clean_data.loc[clean_data['Gender'] == 'Female',:])
other_players = len(clean_data.loc[clean_data['Gender'] == 'Other / Non-Disclosed',:])

percent_males = round(male_players / unique_players * 100,2)
percent_females = round(female_players / unique_players * 100,2)
percent_other = round(other_players / unique_players * 100,2)

gender_df = pd.DataFrame({
                            "Gender": ["Male", "Female", "Other"],
                            "Total": [male_players, female_players, other_players],
                            "Percent":[percent_males, percent_females, percent_other]
})

gender_df.set_index('Gender')
gender_df.style.format({"Percent": "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
avg_price = purchase_data.groupby('Gender').Price.mean()
avg_price
total_count = purchase_data.groupby('Gender').Price.count()
total_count
total_sum = purchase_data.groupby('Gender').Price.sum()
total_sum
gender_summary = pd.merge(total_count, avg_price, on="Gender", how="inner")
gender_summary = pd.merge(gender_summary, total_sum, on='Gender', how='inner')
gender_summary_df = gender_summary.rename(columns={'Price_x':'Total Purchases', 'Price_y':'Average Purchase', 'Price':'Total Revenue'})
gender_summary_df.round(2)

                       Total Purchases  Average Purchase  Total Revenue
Gender
Female                             113              3.20         361.94
Male                               652              3.02        1967.64
Other / Non-Disclosed               15              3.35          50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
max_age = purchase_data['Age'].max()
min_age = purchase_data['Age'].min()
std_age = purchase_data['Age'].std()
#binned_data = purchase_data.copy()
binned_data = purchase_data.loc[:,['Gender', 'SN', 'Age']].drop_duplicates()
labels = ['<10','10-14','15-19','20-24','25-29','30-34', '35-39','>39']
bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,60]
binned_data['Age Groups'] = pd.cut(binned_data.Age,bins,labels=labels)
binned_data =binned_data.groupby('Age Groups')
binned_data = pd.DataFrame(binned_data['Age Groups'].count())
binned_data
binned_data = binned_data.rename(columns={'Age Groups':'Age Count'})
summed_purchase = binned_data['Age Count'].sum()
binned_data['Percent'] = round(binned_data['Age Count'] / summed_purchase * 100)

binned_data.style.format({"Percent": "{:.2f}%"})
#binned_data

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
binned_data_2 = purchase_data.copy()
total_rev = binned_data_2['Price'].sum()

labels = ['<10','10-14','15-19','20-24','25-29','30-34', '35-39','>39']
bins=[0,9.9,14.9,19.9,24.9,29.9,34.9,39.9,60]
binned_data_2['Age Groups'] = pd.cut(binned_data_2.Age,bins,labels=labels)

binned_price = binned_data_2.groupby('Age Groups').sum()['Price']
binned_count = binned_data_2.groupby('Age Groups').count()['Price']
binned_avg = binned_data_2.groupby('Age Groups').mean()['Price']
binned_perPerson_avg= binned_price/binned_data['Age Count']

binned_data_2 = pd.DataFrame({'Total Revenue':binned_price, 'Total Count': binned_count, 'Average Purchase Price':binned_avg,'Per Person Average':binned_perPerson_avg}).round(2)

# binned_data_summary= pd.merge(binned_data, binned_data_2, on="Age Groups")
# binned_data_summary['Percent of Rev. by age'] = round(binned_data_2['Price'] / total_rev * 100,2)
# binned_data_summary["Average Purchase"] = binned_data_summary['Price'] / binned_data_summary['Age Count']
# binned_data_summary = binned_data_2.rename(columns={'Age Count':'Purchases by age',
#                                                   'Percent':'Percent of Rev. by age',
#                                                   'Price':'Total Rev. by age'})
# binned_data_summary
binned_data_2

,Total Revenue,Total Count,Average Purchase Price,Per Person Average
Age Groups,,,,
<10,77.13,23,3.35,4.54
10-14,82.78,28,2.96,3.76
15-19,412.89,136,3.04,3.86
20-24,1114.06,365,3.05,4.32
25-29,293.00,101,2.90,3.81
30-34,214.00,73,2.93,4.12
35-39,147.67,41,3.60,4.76
>39,38.24,13,2.94,3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
grouped_purchases = purchase_data.groupby('SN')
sn_purchases = grouped_purchases['Price'].count()
sn_spent = grouped_purchases['Price'].sum()
sn_avg_spent = grouped_purchases['Price'].mean()

top_spender_df = pd.DataFrame({'Purchase Count': sn_purchases,
                               'Average Purchase Price':sn_avg_spent,
                               'Total Purchase Value':sn_spent}).round(2)
top_spender_df = top_spender_df.sort_values(by = "Total Purchase Value",ascending=False)
top_spender_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
item_df = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]
item_df.head()
items_grouped = item_df.groupby(['Item ID', "Item Name"])

popular_purchases = items_grouped['Price'].count()
total_spent = items_grouped['Price'].sum()
item_price = total_spent/popular_purchases 

most_popular_df = pd.DataFrame({'Purchase Count': popular_purchases,
                               'item Price':item_price,
                               'Total Purchase Value':total_spent}).round(2)

most_popular_df = most_popular_df.sort_values(by = "Total Purchase Value",ascending=False)
most_popular_df.head()
 sta

,,Purchase Count,item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
most_popular_df = most_popular_df.sort_values(by = "Total Purchase Value",ascending=False)
most_popular_df.head()

,,Purchase Count,item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
103,Singed Scalpel,8,4.35,34.80